openapi: 3.2.0
info:
  title: FASAB Public Content API (WordPress REST) News API
  version: wp/v2
  summary: The anonymous, read-only WordPress REST API serving fasab.gov content — federal accounting standards pages, board and project material, the media library, taxonomies and site search.
  description: The Federal Accounting Standards Advisory Board publishes no developer program, no API documentation and no machine-readable specification of its own.
  contact:
    name: FASAB
    email: fasab@fasab.gov
    url: https://fasab.gov/about-fasab/contact-information/
  license:
    name: U.S. Government Work (17 U.S.C. Sec. 105)
    url: https://fasab.gov/
  x-provenance:
    method: derived
    source: https://fasab.gov/wp-json/
    derived: '2026-09-09'
    verbatim_source_file: openapi/federal-accounting-standards-advisory-board-wp-routes-original.json
    note: Derived by API Evangelist from the live WordPress route discovery document served by fasab.gov. Not authored, published or endorsed by FASAB.
servers:
- url: https://fasab.gov/wp-json
  description: WordPress REST root on fasab.gov. Verified reachable and anonymous on 2026-09-09. www.fasab.gov serves the identical site.
security:
- {}
tags:
- name: News
  description: Posts and comments.
paths:
  /wp/v2/posts:
    get:
      operationId: listPosts
      summary: List FASAB posts
      description: Blog-style posts published to fasab.gov. Four records at harvest (2026-09-09) — the FASAB podcast episodes and Exposure Draft chat interviews — classified with the `category` taxonomy. FASAB publishes the bulk of its content as pages, not posts.
      tags:
      - News
      security:
      - {}
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - spam
            - jp-temp-feedback
            - any
          default: publish
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: categories
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
      - name: categories_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the categories taxonomy.
      - name: tags
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
      - name: tags_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
      - name: sticky
        in: query
        required: false
        schema:
          type: boolean
        description: Limit result set to items that are sticky.
      - name: ignore_sticky
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to ignore sticky posts or not.
      - name: format
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
        description: Limit result set to items assigned one or more given formats.
      responses:
        '200':
          description: Success. A JSON array of records; the response carries X-WP-Total and X-WP-TotalPages headers and RFC 5988 Link headers for paging.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter. WordPress error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authorised for the requested context or field. WordPress error envelope with code rest_forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched. WordPress error envelope with code rest_no_route or rest_post_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      x-verified:
        url: https://fasab.gov/wp-json/wp/v2/posts
        http_status: 200
        checked: '2026-09-09'
        anonymous: true
  /wp/v2/posts/{id}:
    get:
      operationId: getPost
      summary: Retrieve a post
      description: Retrieve a single post by numeric id.
      tags:
      - News
      security:
      - {}
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success. A JSON document.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter. WordPress error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authorised for the requested context or field. WordPress error envelope with code rest_forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched. WordPress error envelope with code rest_no_route or rest_post_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      x-verified:
        url: https://fasab.gov/wp-json/wp/v2/posts/12417
        http_status: 200
        checked: '2026-09-09'
        anonymous: true
  /wp/v2/comments:
    get:
      operationId: listComments
      summary: List comments
      description: Comment collection. Empty on fasab.gov at harvest (0 records) — comments are not used on the site.
      tags:
      - News
      security:
      - {}
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to comments published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
      - name: author_email
        in: query
        required: false
        schema:
          type: string
          format: email
        description: Limit result set to that from a specific author email. Requires authorization.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to comments published before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
          default: date_gmt
        description: Sort collection by comment attribute.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to comments of specific parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific parent IDs.
      - name: post
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to comments assigned to specific post IDs.
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: approve
        description: Limit result set to comments assigned a specific status. Requires authorization.
      - name: type
        in: query
        required: false
        schema:
          type: string
          default: comment
        description: Limit result set to comments assigned a specific type. Requires authorization.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success. A JSON array of records; the response carries X-WP-Total and X-WP-TotalPages headers and RFC 5988 Link headers for paging.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter. WordPress error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Not authorised for the requested context or field. WordPress error envelope with code rest_forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched. WordPress error envelope with code rest_no_route or rest_post_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      x-verified:
        url: https://fasab.gov/wp-json/wp/v2/comments
        http_status: 200
        checked: '2026-09-09'
        anonymous: true
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope, observed live on fasab.gov (GET /wp/v2/settings returned HTTP 401 with this shape on 2026-09-09). It is not RFC 9457 application/problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_no_route, rest_post_invalid_id, rest_invalid_param.
          examples:
          - rest_forbidden
        message:
          type: string
          description: Human-readable message.
          examples:
          - Sorry, you are not allowed to do that.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: The HTTP status code, repeated in the body.
              examples:
              - 401
      required:
      - code
      - message
